/*
Theme name: WordPress Default - kubrick -
Editors: Navid Kashani
Persian Wordpress Project : wp-persian.com
*/
body, .commentlist li, #commentform input, #commentform textarea, #commentform p, #sidebar, #wp-calendar caption  {
	font-family:tahoma, arial;
}
#page {
	text-align:right;
	direction:rtl;
}


h1, h2, h3, #sidebar h2 {
	font-family:arial, tahoma;
}
.commentlist li .avatar {
	float:left;
}
#header {
	margin:0 1px 0 0;
}
.narrowcolumn {
	float:right;
	padding: 0 45px 20px 0;
}
.widecolumn {
	margin: 5px 150px 0 0;
}
.widecolumn .smallattachment {
	margin: 5px 0 5px 5px;
}
.postmetadata {
	clear:right;
}
#sidebar {
	margin-left: 0;
	margin-right: 545px;
}
img.alignright {
	margin: 0 7px 2px 0;
}

img.alignleft {
	margin: 0 0 2px 7px;
}

.alignright {
	float: left;
}

.alignleft {
	float: right;
}
code {
	display:block;
	direction:ltr;
	text-align:left;
}
acronym, abbr, span.caps {
	letter-spacing:0; /* fix opera bug */
}
html>body .entry ul {
	padding:0 10px 0 0;
	text-indent:10px;
}
html>body .entry li {
	margin: 7px 10px 8px 0;
}
.entry ol {
	padding: 0 35px 0 0;
}
#sidebar ul ul, #sidebar ul ol {
	margin: 5px 10px 0 0;
}
#sidebar ul ul ul, #sidebar ul ol {
	margin: 0 10px 0 0;
}
#commentform input {
	margin: 5px 0 1px 5px;
}
#commentform #submit {
	float:left;
}
.commentlist p {
	margin: 10px 0 10px 5px;
}
#wp-calendar #next a {
	padding-right:0;
	padding-left:10px;
	text-align:left;
}
#wp-calendar #prev a {
	padding-left:0;
	padding-right:10px;
	text-align:right;
}
blockquote {
	margin: 15px 10px 0 30px;
	padding-left: 0;
	padding-right: 20px;
	border-left: 0 none;
	border-right: 5px solid #ddd;
}
#email, #url {
	direction:ltr;
}
.widget {
        margin-bottom: 10px;
}