#ajax_post{
	position: absolute;
	top: 20px;
	width: 700px;
	text-align: left;
	color: #666;
	font-size: 10px;
}

#comment_post{
	position: absolute;
	top: 20px;
	width: 650px;
	text-align: left;
	color: #666;
	font-size: 10px;
}

#ajax_post h2{
	font-size: 300%;
	color: #FFF;
	font-size: Georgia;
	text-transform: uppercase;
}

#ajax_post .entry{
	font-size: 150%;
}

#ajax_post .entry p{
	line-height: 170%;
}

#testata{
	background: #0066CC;
}

#testata h1{
	text-align: center;
	line-height: 200%;
}

#testata h1 small{
	font-size: 30%;
}

#testata h1 small,#testata h1 a{
	color: white;
}

.small_spacer{
	font-size: 65%;
}

pre {
  background: #f7f7f7;
  padding: 10px;
  font-size: 90%;
  line-height: 130%;
}

pre {
  overflow: auto;
}

pre code {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 92%;
}

.html .tag { color:#3344AA /*#BB7711*/ }
.html .attribute { color:#BB7711 }
.keywords { color: #f71; }
.comment { color: #517; }	
.string { color: #392; }
.regex { 
  background: #D0F0FF; 
  color: #27b;
}

#excerpt pre {
  background: transparent;
  padding: 2px;
  font-size: 100% !important;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  margin: 5px 0;
  font-weight: normal;
  border-bottom: 1px dotted #fff;
  color: #34a;
}

.widget{
	margin-bottom: 10px;
}


